body {
    margin:0;
    padding:0;
    font-family:Consolas, 'Times New Roman', Times, serif;
}

p{
    color:#0094ff;
    margin:10px;
}
p:first-letter{
    font-family:'Edwardian Script ITC', 'Times New Roman', Times, serif;
    font-size:50px;
}

p:first-line{
    font-weight:700;
}