body {
    margin:0;
    padding:0;
    font-size:14px;
}

table, th, td{
    border-collapse:collapse;
    background-color:#595959;
}

table td:first-of-type{
    font-style:italic;
    color:white;
    padding-right:30px;
}

th{
    font-weight:normal;
    text-align:left;
    font-size:18px;
    color:#A5A4A4;
}

#red{
    color:red;
    font-style:normal;
    font-weight: bold;
    padding-bottom: 10px;
}

.header{
    vertical-align:top;
    padding-top:10px;
}

#yellow{
     color:#E0D081;
     font-style:normal;
}

.lightgray{
    color:#A5A4A4;
    padding:10px 0;
}

.orange{
    color:#E36C26;
    font-weight: bold;
    padding-top: 10px;
}

.disc:before {
    content: url('img/dot.png');
    padding-right:3px;

}